.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  background: #ffffff;
  align-items: center; /* Center items vertically */
}

.navbar > div {
  display: flex;
  vertical-align: middle; /* Center items vertically */
}

.logo {
  width: 173px;
  height: auto;
}

.navbar-sidebar {
  border: none;
  background-color: transparent;
}

/* Align the user icon to the end */
.navbar-user {
  justify-self: center; /* Align to the end of the grid column */
  background: #0056b3; /* Blue background */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Make it circular */
  padding: 10px; /* Add some padding to increase the size */
}

.navbar-searchbar-container {
  flex: 1;
  margin-left: 3rem;
  margin-top: 1rem;
  display: flex;
}

.navbar-searchbar {
  display: flex;
  flex-grow: 1;
  max-width: 70%;
}

.navbar-icons {
  display: flex; /* This makes it a flex container */
  align-items: center; /* Centers the buttons vertically */
  gap: 10px; /* This adds spacing between the buttons */
}
/* Add spacing between the buttons */
.navbar-messages {
  margin-right: 3px; /* Add space to the right of the messages button */
}
.navbar-notifications {
  margin-right: 5px; /* Add space to the right of the messages button */
}
/* Style buttons to have a circular blue background */
.navbar-messages,
.navbar-notifications {
  background: #0056b3; /* Blue background */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Make it circular */
  padding: 10px; /* Add some padding to increase the size */
}
/* Style icons to be white */
.navbar-messages .MuiSvgIcon-root,
.navbar-notifications .MuiSvgIcon-root {
  color: #ffffff; /* White color for the icon */
}

/* Hide the notifications button on smaller screens */
@media (max-width: 800px) {
  .navbar-notifications {
    display: none;
  }
  .logo {
    width: 80px;
    height: auto;
  }
  .navbar-searchbar-container {
    margin-left: 2rem;
  }
}

