.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  background: #ffffff;
  align-items: center; /* Center items vertically */
}

.navbar > div {
  display: flex;
  align-items: center; /* Center items vertically */
}

.logo {
  width: 173px; /* Or as per your design */
  height: auto;
}

.navbar-sidebar,
.navbar-icons button,
.navbar-user {
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar-sidebar {
  margin-right: 1rem; /* Give some space after the sidebar */
}


.navbar-searchbar {
  flex-grow: 1; /* Takes up maximum space available */
  margin: 0 1rem; /* Give some space around the search bar */
}

.navbar-icons {
  display: flex; /* This makes it a flex container */
  gap: 10px; /* This adds spacing between the buttons */
}

.navbar-user {
  background: #0056b3; /* Blue background */
  border-radius: 50%; /* Make it circular */
  padding: 10px; /* Add some padding to increase the size */
  color: #ffffff;
}

/* Style icons to be white */
.navbar-icons .MuiSvgIcon-root {
  color: #ffffff; /* White color for the icon */
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .navbar-notifications {
    display: none; /* Hide notifications at smaller screen widths */
  }

  .logo {
    width: 80px; /* Adjust logo size for smaller screens */
  }
}

@media screen and (max-width: 624px) {
  .navbar {
    justify-content: space-around; /* Adjust spacing to evenly distribute space */
    padding: 0.5rem;
  }

  .navbar-logo,
  .navbar-user {
    margin: 0; /* Remove margins to fit on the same row */
  }

  .navbar-searchbar {
    margin: 0; /* Remove margins to allow search bar to grow */
    flex-grow: 1;
  }

  .navbar-icons {
    gap: 5px; /* Reduce gap between icons for smaller screens */
  }

  .navbar-user {
    padding: 8px; /* Adjust padding for the user icon */
  }
}
