.requested-proposals-container {
  margin: 20px !important ;
  padding: 20px !important ;
  border-radius: 20px !important ;
  background-color: #fff !important ; /* Match the background color to your theme */
}

.title-section {
  color: #fc7a08; /* Or your preferred header color */
  font-weight: bolder !important ;
  margin-left: 1rem !important ;
  margin-bottom: 1rem !important ;
  margin-top: 1rem !important ;
}

.read-more-button {
  background-color: #e7e7ff; /* Button color */
  color: #003576;
  border-radius: 20px; /* Rounded corners */
  font-size: medium;
  padding: 6px 15px; /* Smaller padding */
  border: none; /* No border */
}

.see-more-button {
  color: #003576; /* 'See more' text color */
  background-color: transparent; /* No background */
  font-size: medium;
  padding: 6px 15px; /* Smaller padding */
  border: 2px solid #003576; /* Add a border */
  margin-top: 1rem; /* Add margin to the top */
  border-radius: 20px;
}
/* Center the see more button */
.see-more-container {
  text-align: center;
  padding-top: 1rem;
}

/* Responsive text length for the description */
@media (max-width: 1024px) {
  .requested-proposals-container .MuiListItemText-secondary {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines you want to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Smaller text inside buttons for screens less than 624px */
@media (max-width: 624px) {
    .read-more-button, .see-more-button {
      font-size: xx-small !important;
      padding: 4px 10px;
    }
  }
  
  .title-round-shape {
    background-color: #003576;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 20px; /* Makes the shape round-square */
    display: inline-block; /* To fit the content */
    margin-bottom: 10px; /* Space between title and description */
  }
  
  /* Ensuring space between description and buttons */
  .list-item-text {
    margin-bottom: 10px;
  }
