/* LoginForm.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.login-page {
  text-align: center;
}


/* Login form styles */
.login-form-container {
  margin-top: 50px; /* Adjust as needed */
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  width: 300px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  margin-top: 10rem ;
}

.login-form h1 {
  margin-bottom: 2rem;
}

.login-form label {
  display: block;
  text-align: left;
  margin-top: 1rem;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
}

.submit-button {
  padding: 0.6rem 2rem;
  background-color: #00e6a1;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: large;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    justify-content: center;
  }
}

@media screen and (max-width: 424px) {
    .login-form-container {
        transform: scale(0.9);
    }
}