/* Navbar background */
.AppBar {
    background-color: white !important;
  }
  
  /* Link styling */
  .navbar-links > a {
    text-decoration: none;
    color: #002147;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-right: 1rem;
    margin-left: 2rem; /* Added margin on the left */
  }
  
  /* Login button styling */
  .login-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: #003576;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 2rem; /* Added margin on the left */
    cursor: pointer;
  }
  
  /* Drawer link styling */
  
  @media (max-width: 768px) {
    .navbar-links > a {
      display: block;
      margin-bottom: 1.5rem;
    }

    .navbar-links > a:first-child {
      margin-top: 4rem;
    }
    
    .login-button {
      margin-top: 2rem;
    }
  }
  
  /* Logo styling */
  .navbar-logo {
    max-width: 176px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  /* MenuIcon styling */
  .MuiIconButton-root {
    font-size: 2rem; /* Increase the size */
    color: black; /* Change the color */
  }
  