/* styles.css */

/* Base styles */
.dropdown-select {
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .block {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .select-style {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .dropdown-select {
      max-width: 600px;
    }
    
    .block {
      font-size: 16px;
    }
  }
  
  /* Tablet styles */
  @media screen and (max-width: 767px) {
    .dropdown-select {
      padding: 15px;
    }
  
    .block {
      font-size: 16px;
    }
  
    .select-style {
      font-size: 14px;
    }
  }
  
  /* Phone styles */
  @media screen and (max-width: 480px) {
    .dropdown-select {
      padding: 10px;
    }
  
    .block {
      font-size: 12px;
    }
  
    .select-style {
      font-size: 12px;
    }
  }
  