/* styles.css */

/* Base styles */
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .checkbox-label {
    font-size: 14px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

/* Styling for keyword div */
.keyword-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keyword-text {
  margin: 0;
  font-size: 16px;
}

.delete-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d64b38;
}
  
  /* Responsive styles */
  @media screen and (min-width: 768px) {
    .form {
      max-width: 600px;
    }
  }
  
  /* Tablet styles */
  @media screen and (max-width: 767px) {
    .form {
      padding: 15px;
    }
  
    .label,
    .input {
      font-size: 16px;
    }
  
    .button {
      padding: 12px 24px;
    }

    .keyword-container {
      padding: 8px;
    }
  
    .keyword-text {
      font-size: 14px;
    }
  
    .delete-button {
      padding: 6px 12px;
    }
  }
  
  /* Phone styles */
  @media screen and (max-width: 480px) {
    .form {
      padding: 10px;
    }
  
    .label,
    .input {
      font-size: 12px;
    }
  
    .button {
      padding: 8px 16px;
    }

    .keyword-container {
      padding: 6px;
    }
  
    .keyword-text {
      font-size: 12px;
    }
  
    .delete-button {
      padding: 4px 8px;
    }
  }
  