.search-bar {
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
  gap: 10px;
  flex-grow: 1;
}

.search-input {
  flex-grow: 1;
  padding: 0.8rem 0.5rem 0.5rem 2.5rem; /* Adjust padding for icons inside */
  border-radius: 20px; /* Rounded corners for the input */
  border: 1px solid #303030;
  border-right: none; /* Remove right border to match the button */
  font-size: large;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  color: #303030;
  z-index: 10;
}

.filter-button {
  border: 2px solid #303030; /* Border color */
  background-color: transparent;
  border-radius: 20px; /* Match input border-radius */
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem; /* Adjust to match the input padding */
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.filter-button .filter-icon,
.filter-button .arrow-icon {
  color: #0056b3; /* Icon color */
}

.filter-container {
  position: relative; /* Per posizionare il dropdown */
}

.filters-dropdown {
  display: grid;
  background-color: #ffffff; /* Or any color that matches your design */
  position: absolute;
  margin-top: 2rem;
  left: 0%;
  width: max-content; /* Make it take up the entire width of its parent */
  grid-column: auto;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple shadow for a dropdown effect */
  border-radius: 8px; /* Rounded corners */
  transform: translateX(-50%);
}

.filter-section {
    margin-top: -1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.filter-section h4 {
  margin-bottom: 0.5rem;
}

.filter-section label {
  display: block; /* or inline-block based on your design */
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 1000px) {
  .filter-button {
    padding: 0.5rem; /* Adjust padding to only show icons */
    right: 0.5rem; /* Positioning the button inside the search input */
  }

  .filter-button .filter-text {
    display: none; /* Ensure text is hidden on small screens */
  }

  .filter-button .filter-icon,
  .filter-button .arrow-icon {
    display: block;
  }

  .search-input {
    padding-right: 2.5rem; /* Adjust right padding for smaller screens */
  }
}
