services:
  postgres:
    image: 'postgres:latest'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'
  keycloak:
    image: 's292567/keycloak-saml'
    container_name: keycloak
    ports:
      - "8080:8080"
    #    environment:
    #      - KEYCLOAK_ADMIN_PASSWORD=admin
    #      - KEYCLOAK_ADMIN=admin
    command: start-dev

